<nav class="nav">
    <h1 class="nav__title">IP Address Tracker</h1>
    <section class="nav__form">
        <input class="nav__form-input" type="text" placeholder="Search for any IP address or domain">
        <button class="nav__form-button" type="button">
            <img class="nav__form-img" src="../../../assets/img/icon-arrow.svg" alt=">">
        </button>
    </section>
    <section class="nav__info">
        <div class="info__container">
            <p class="info__container-subtitle">IP Address</p>
            <h2 class="info__container-data">192.172.174.101</h2>
        </div>
        <div class="info__container">
            <p class="info__container-subtitle">Location</p>
            <h2 class="info__container-data">Narnia, Av. del ropero. Casa de fauno.</h2>
        </div>
        <div class="info__container">
            <p class="info__container-subtitle">Timezone</p>
            <h2 class="info__container-data">UTC-5:00</h2>
        </div>
        <div class="info__container">
            <p class="info__container-subtitle">ISP</p>
            <h2 class="info__container-data">-Móvil</h2>
        </div>
    </section>
</nav>
