@import '../../../assets/sass/config'

@mixin inputStyles()
    font-size: 18px
    border: none
    padding: 20px
    height: 100%

.nav 
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    width: 100%
    background-image: url('../../../assets/img/pattern-bg.png')
    // background-size: 100% #{$header-height}
    background-size: cover
    background-position: center
    height: $header-height
    padding: 25px

.nav__title
    color: $color-white
    font-weight: 400

.nav__form
    display: flex
    align-items: center
    border-radius: $border-radius
    overflow: hidden
    // width: 100%
    height: 60px
    margin-top: 30px

.nav__form-input
    @include inputStyles()
    color: $very-dark-gray
    width: 275px
    &::placeholder
        font-size: 14px
    
.nav__form-button
    @include inputStyles()
    width: 60px
    display: flex
    align-items: center
    justify-content: center
    color: $color-white
    background: #000
    border: 1px solid #000
    border-radius: 0 $border-radius $border-radius 0

.nav__info
    z-index: 1
    position: absolute
    display: flex
    flex-direction: column
    bottom: -55%
    width: 90%
    height: 300px
    background: $color-white
    padding: 5px 25px 25px 25px
    border-radius: $border-radius
    overflow-y: scroll
    // border: 1px solid #ccc

.info__container
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin-top: 20px

.info__container-subtitle
    color: $dark-gray
    text-transform: uppercase
    font-size: 10.5px
    font-weight: 500
    letter-spacing: 1.5px
    margin-bottom: 5px

.info__container-data 
    color: $very-dark-gray
    font-weight: 500
