<nav class="nav">
    <h1 class="nav__title">IP Address Tracker</h1>
    <section class="nav__form">
        <input class="nav__form-input" type="text" placeholder="Search for any IP address or domain">
        <button class="nav__form-button" type="button">
            <img class="nav__form-img" src="../../../assets/img/icon-arrow.svg" alt=">">
        </button>
    </section>
    <section class="nav__info">
        <div>
            IP Address
        </div>
        <div>
            Location
        </div>
        <div>
            Timezone
        </div>
        <div>
            ISP
        </div>
    </section>
</nav>
