@import '../../../assets/sass/config'

@mixin calcHeight()
    height: calc(100vh - #{$header-height})

.map
    z-index: 0
    width: 100%
    @include calcHeight()

// .leaflet-touch .leaflet-control-zoom-in
//     display: none!important
